html {
    margin: 0;
    height: 100vh;
}

body {
    margin: 0;
    height: 100vh;
}

.logo{
    height: 200px;
    width: 200px;
}

.platform-xbox {
    position: absolute;
    height: 100%;
    width: 33.33%;
    background-color: #44bd32;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: width;
    transition-duration: 750ms;
}

.platform-xbox-selected {
    width: 100%;
    z-index: 2;
}

.platform-pc {
    position: absolute;
    height: 100%;
    width: 33.33%;
    background-color: #00a8ff;
    left: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: width, left;
    transition-duration: 750ms;
}

.platform-pc-selected {
    left: 0%;
    width: 100%;
    z-index: 2;
}

.platform-playstation {
    position: absolute;
    height: 100%;
    width: 33.33%;
    background-color: #0097e6;
    left: 66.66%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: width, left;
    transition-duration: 750ms;
}

.platform-playstation-selected {
    left: 0%;
    width: 100%;
    z-index: 2;
}
