@mixin expand-transform($transform-property...) {
    transition-property: $transform-property;
    transition-duration: 750ms;
    transition-timing-function: cubic-bezier(.19, .52, .23, 1);
}

html {
    margin: 0;
    height: 100vh;
}

body {
    margin: 0;
    height: 100%;
}

.logo{
    position: absolute;
    height: 200px;
    width: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo-bounce {
    animation-name: logo-bounce;
    animation-duration: 1000ms;
}

@keyframes logo-bounce {
    0% {
        top: 50%;
    }

    35% {
        top: 60%;
    }

    100% {
        top: -30%;
    }
}

%platform {
    position: absolute;
    height: 100%;
    width: 33.33%;
}

.platform-xbox {
    @extend %platform;
    background-color: #44bd32;
    @include expand-transform(width);
}

.platform-pc {
    @extend %platform;
    background-color: #40739e;
    left: 33.33%;
    @include expand-transform(width, left);
}

.platform-playstation {
    @extend %platform;
    background-color: #0097e6;
    left: 66.66%;
    @include expand-transform(width, left);
}

.platform-selected {
    left: 0%;
    width: 100%;
    z-index: 2;
}
